.row {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    padding: 5px 2%;
    background-color: aqua;
  }
  .categories {
    width: 10%;
    display: flex;
    justify-content: center;
  }
  .menuList {
    width: 85%;
  }
  .menuList a {
    text-decoration: none;
    color: black;
  }
  .menuList a:hover {
    color: antiquewhite;
  }
  .basket {
    width: 35px;
  }
  .signInBtn {
    text-decoration: none;
    color: black;
  }
  .logo {
    width: 70px;
  }
  .search {
    height: 40%;
  }
  .paddings{
    padding: 0 2%;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }
  .verticalCenter {
    align-items: center;
  }